[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
urllib3 = "*"
python-dotenv = "*"
requests = "*"
flup = "*"
gunicorn = "*"
pytz = "*"
dataset = "*"
PyMySQL = "*"
Babel = "*"
uvloop = {version = "*",sys_platform = "!= 'win32'"}
brotlipy = {version = "*",sys_platform = "!= 'win32'"}
ujson = "*"
cchardet = "*"
aiodns = "*"
aiohttp = {extras = ["speedups"],version = "*"}
hypercorn = "*"
pydantic = "*"
validators = "*"
"discord.py" = "*"

[requires]
python_version = "3"

[scripts]
nasabot = 'python app.py discord' # Vai usar 'nasabot' por padrão
prod = 'python app.py discord production'
test = 'python app.py discord testing'
dev = 'python app.py discord development'
### O mesmo que 'pipenv run python app.py discord nasabot'
pure = 'python app.py'
